
:root{
    --Light-Brown: #804C32;
    --Olive-Green: #8A9A5B;
    --Light-Gray: #CBCBCB;
    --Dark-brown: #2D1B16;
}

.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
}

.child_body{

}

.child_main{

}