
:root{
    --Light-Brown: #804C32;
    --Olive-Green: #8A9A5B;
    --Light-Gray: #CBCBCB;
    --Dark-brown: #2D1B16;
}

body{
    background-color: #2D1B16;
}

hr{
    border: none;
    border-top: 1px solid #804C32;
}

h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CBCBCB;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #8A9A5B;
}

.logo{
    float: left;
    width: 108px;
}

.title{
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url("/wdd130-project-mckeehan/images/background.png");
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 20px;
    padding-bottom: 20px;

    margin: 0;
}

.url{
    text-decoration: none;
}

.child_header{
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
}

.child_main p{
    text-align: center;
}

.child_body p{
    width: 50%;
    margin: 20px auto;
}

.child_footer{
    display: grid;
    grid-template-columns: auto 50% auto;

    text-align: center;
}

.child_footer img{
    width: 25%;
    height: 25%;
}

.child_footer section{
    margin: 20px auto;
    
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;

    background-color: white;

    align-items: center;
    display: flex
}
.child_footer div{
    margin: 20px;
    font-size: 1.5em;
}
.child_footer div h3{
    float: left;
    margin: 20px 0px 0px 0px;
}
.child_footer p{
    width: 100%;
}
.child_footer h3{
    grid-column: 2/3;
}
.child_footer a{
    grid-column: 2/3;
}