
:root{
    --Light-Brown: #804C32;
    --Olive-Green: #8A9A5B;
    --Light-Gray: #CBCBCB;
    --Dark-brown: #2D1B16;
}

.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paragraph{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    float: left;
    width: 108px;
}

.title{
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url("/wdd130-project-mckeehan/images/background.png");
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 20px;
    padding-bottom: 20px;

    margin: 0;
}

.child_header{
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
}

.child_main p{
    text-align: center;
}

.child_footer{
    text-align: center;
}

