
:root{
    --Light-Brown: #804C32;
    --Olive-Green: #8A9A5B;
    --Light-Gray: #CBCBCB;
    --Dark-brown: #2D1B16;
    --heading-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--Dark-brown);
    font-family: var(--heading-font);
    margin: 0;
    color:var(--Light-Gray);
    font-size: 20px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../images/background.png);
}

nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    margin: 0 20px 0 20px;
    
}

a{
    margin:10px;
    font-size: 2.5em;
    text-decoration: none;
    color: var(--Light-Gray);
    justify-self: center;
}

a:hover{
    color:var(--Olive-Green);
}

.hero-banner{
    background-image: url(../images/background.png);
    padding: 10px;
    margin: 40px 0 10px 0;
    justify-items: center;
}

.description{
    margin: 40px 0 10px 0;
    padding: 10px 30px;
    background-color: var(--Light-Brown);
    justify-items: center;
}

.description p{
    max-width: 600px;
    color: var(--Light-Gray);
}

.links-container{
    margin: 5px 0px;
    padding: 0 30px;
}

.link-box{
    display:grid;
    grid-template-columns: 200px 1fr;
    min-width: 550px;
    max-width: 800px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    background-color: white;
    border-radius: 20px;

}

.link-box div p{
    text-justify: center;
    font-size: 15px;
    margin: 20px 20px;
}

.link-box div h4{
    justify-self: center;
    font-size: 30px;
    margin: 10px 10px;
}

.icon{
    align-self: center;
    justify-self: center;
    margin: 10px;
    width: 108px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--Light-Brown);
}

footer nav{
    font-size: 8px;
}

footer h6{
    font-size: 15px;
    margin: 10px;
    width: 300px;
}

hr{
    border: none;
    border-top: 1px solid var(--Light-Brown);
}

h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--Light-Gray);
}

p{
    font-family: var(--paragraph-font);
    color: var(--Olive-Green);
}

.logo{
    float: left;
    width: 108px;
}

.title{
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url("/wdd130-project-mckeehan/images/background.png");
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 20px;
    padding-bottom: 20px;

    margin: 0;
}

.url{
    text-decoration: none;
}

.child_header{
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
}

.child_main p{
    text-align: center;
}

.child_body p{
    width: 50%;
    margin: 20px auto;
}

.child_footer{
    display: grid;
    grid-template-columns: auto 50% auto;
    font-size: .4em;
    text-align: center;
}

.child_footer img{
    width: 25%;
    height: 25%;
}

.child_footer section{
    margin: 20px auto;
    
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;

    background-color: white;

    align-items: center;
    display: flex
}
.child_footer div{
    margin: 20px;
    font-size: 1.5em;
}
.child_footer div h3{
    float: left;
    margin: 20px 0px 0px 0px;
}
.child_footer p{
    width: 100%;
}
.child_footer h3{
    grid-column: 2/3;
    font-size: 30px;
}
.child_footer a{
    grid-column: 2/3;
}